html{
  border: 1px MediumSpringGreen solid;
  border-image: linear-gradient(red, blue);
  scroll-behavior: smooth;
  overflow-x: hidden;
}



.container-fluid{
  padding: 0;
}
.nav{
  position: fixed;
  right: 5%;
  bottom: 10%;
  mix-blend-mode: difference;
  transition: 1s;
  z-index: 100;
}
.navbar li a{
  text-align: left;
}
.offset{
  margin-top: -30vh;
}

body{
  background-color: #171010;
  outline: 1px solid MediumSpringGreen;
  outline-color: linear-gradient(red, blue);
  
}
h1,h2, p, a, li, nav-item{
  color: #fff;
  font-family: futura, sans-serif;
  font-weight: bold;
  opacity: 1;

}
.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,1);
  mix-blend-mode: difference;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: MediumSpringGreen;
  transition: .5s;
}
.navbar-toggler-icon{
  width: 91vw;
  height: 1.5em;
}

.indent{
  margin-left: 1.5em;
}

ul{
  list-style-type: none;
}
.long{
  line-height: 5em;
}
a:hover{
  color: MediumSpringGreen;
  transition: .5s;
  text-decoration: none;
}
h1, h2{
  color: #171010;
}

h1{
  hyphens: manual;
  word-break:break-all;
  font-size: 90px;
  padding-top: 1.5em;
  -webkit-text-stroke: 1px white;
}
.title{
  word-break: normal;
}
.black{
    word-break: normal;
    padding-top: 1em;
}
.black h1{

}

h2{
  color: MediumSpringGreen;
}
#donut{
  text-align: left;
}
.right{
  text-align: right;
}
.gold{
   color: #171010;
   -webkit-text-stroke-color: transparent;
   background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #171010;
    -webkit-text-stroke-width: .3vw;

  } 

img{
  width: 100%;
  border: 1px white solid;
  max-height: 80vh;
}

iframe{
  border: 1px MediumSpringGreen solid;
}
.card{
  background-color: rgba(0, 0, 0, 0);
}
.card .front{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 1s;
}


.card:hover .front{
  display: inline;
  transition: 1s;
  opacity: 1;
}

li:hover{
  color: MediumSpringGreen;
  transition: 1s;
}
#image{
  height: 80%;
  object-fit: cover;
  border: MediumSpringGreen 1px solid;
  transition: all .5s;
}

.foot{
  background: #fff;
  padding: 40px 0;
  margin: 0;
  margin-top: 15vh;

}
.black{
  color: #000;
  -webkit-text-stroke: 0px;
}

.row{
  height: 100vh;
  margin-left:  0;
  margin-right: 0;
}

.condense{
  height: 60vh;
}

.condense h2{
  padding-top: 8px;
}

.borders{
  border-left: solid 1px black;
}

#dark{
  padding:0;
  margin:0;
  height:100vh;
  width:100vw;
  position: fixed;
  top:0;
  left:0;
  background: #000;
  opacity: 0;
  z-index: 1;
  display: none;
}
.btn-light{
  background-color: #fff;
  border-color: #fff;
}
.show-sm{
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 992px){
  #image{
    display: none;
  }
  .dummy{
    height: 0;
  }
  .visible-lg{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .show-sm{
    visibility: visible;
    height: auto;
    margin-top: 8px;
  }
  h1{
    font-size: 17vw;
    margin-bottom: 5px;
  }
 .right, .condense h2{
  text-align: center;
}
  .row{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 100vh;
    max-height: auto;
  }
  .row::-webkit-scrollbar{
    display: none;
  }
  .condense{
    overflow:visible;
    margin-bottom: 20px;
    min-height: auto;
    height: auto;
  }
  .offset{
    margin-top: 0;
  }

  .nav{
    z-index: 6;
    mix-blend-mode: normal;
    left: 0;
    bottom: 0;
  }
  .collapsing{
    font-size: 10vw;
  }
  .show{
    font-size: 6vh;
  }
  .navbar-toggler{
    mix-blend-mode: difference;
  }

  .indent{
    margin-left: : .5em;
    font-size: 5vh;
    color: MediumSpringGreen;
  }

  .foot{
    margin-bottom: 3.5em;
  }

}
