html{
  border: 1px gold solid;
}
.container-fluid{
  padding: 0;
}
.nav{
  position: fixed;
  right: 10%;
  bottom: 10%;
  mix-blend-mode: difference;
  transition: 1s;
}
.navbar li a{
  text-align: left;
}
.offset{
  margin-top: 30vh;
}

body{
  background-color: #171010;
  outline: 1px solid #FFBA40;
}
h1,h2, p, a, li, nav-item{
  color: #fff;
  font-family: futura, sans-serif;
  font-weight: bold;
  opacity: 1;

}
.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,1);
  mix-blend-mode: difference;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: gold;
  transition: .5s;
}
ul{
  list-style-type: none;
}
.long{
  line-height: 5em;
}
a:hover{
  color: gold;
  transition: .5s;
  text-decoration: none;
}
.nav:hover{
  mix-blend-mode: normal;
}
h1, h2{
  color: #171010;
}

h1{
  hyphens: manual;
  word-break:break-all;
  font-size: 90px;
  padding-top: 1.5em;
  -webkit-text-stroke: 1.5px white;
}
.title{
  word-break: normal;
}
.black{
    word-break: normal;
}

h2{
  -webkit-text-stroke: 1px white;
}
#donut{
  text-align: left;
}
.right{
  text-align: right;
}
.gold{
  -webkit-text-stroke: 1.5px gold;
}
img{
  width: 100%;
  border: 1px white solid;
}

.card .front{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.card:hover .front{
  display: inline;
  transition: 1s;
  animation: appear .5s;
}
li:hover{
  color: gold;
  transition: 1s;
}
#image{
  height: 80%;
  object-fit: cover;
  border: gold 1px solid;
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}

.foot{
  background: #fff;
  padding: 40px 0;
  margin: 0;
  margin-top: 15vh;
}
.black{
  color: #000;
  -webkit-text-stroke: 0px;
}

.row{
  height: 100vh;
  margin-left:  0;
  margin-right: 0;
}

.condense{
  height: 60vh;
}

#dark{
  padding:0;
  margin:0;
  height:100vh;
  width:100vw;
  position: fixed;
  top:0;
  left:0;
  background: #000;
  opacity: 0;
  z-index: 1;
  display: none;
}

@media only screen and (max-width: 756px){
  #image{
    display: none;
  }
  h1{
    font-size: 80px;
    margin-bottom: 5px;
  }
 .right, #donut{
  text-align: center;
}
  .row{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .row::-webkit-scrollbar{
    display: none;
  }
  .condense{
    overflow:visible;
    margin-bottom: 20px;
    height: auto;
  }
  .offset{
    margin-top: 0;
  }


  .nav{
    z-index: 6;
  }
}
