html{
  outline-color: #FFBA40;
}
.container-fluid{
  padding: 0;
}
.nav{
  position: fixed;
  right: 10%;
  bottom: 10%;
  mix-blend-mode: difference;
  transition: 1s;
}

.offset{
  margin-top: 30vh;
}

body{
  background-color: #171010;
  outline: 1px solid #FFBA40;
}
h1,h2, p, a, li{
  color: #fff;
  font-family: futura, sans-serif;
  font-weight: bold;

}
ul{
  list-style-type: none;
}
.long{
  line-height: 5em;
}
a:hover{
  color: gold;
  transition: .5s;
  text-decoration: none;
}
.nav:hover{
  mix-blend-mode: normal;

}
h1, h2{
  color: #171010;
}


h1{
  font-size: 90px;
  padding-top: 1.5em;
  -webkit-text-stroke: 1.5px white;
}

h2{
  -webkit-text-stroke: 1px white;
}
.gold{
  -webkit-text-stroke: 1.5px gold;
}
img{
  width: 100%;
}

.card .front{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.card:hover .front{
  display: inline;
  transition: 1s;
  animation: appear .5s;
}
li:hover{
  color: gold;
  transition: 1s;
}
#image{
  height: 80%;
  object-fit: cover;
  border: gold 1px solid;
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}

.foot{
  background: #fff;
  padding: 40px 0;
  margin: 0;
  margin-top: 15vh;
}
.black{
  color: #000;
  -webkit-text-stroke: 0px;
}
.row{
  height: 100vh;
  margin-left:  0;
  margin-right: 0;
}

.condense{
  height: 60vh;
}
